html {
	background: #eeeeee55;
}

body {
	max-width: 60vw;
	padding: 0 20px;
	margin: 0 auto !important;
}

header {
	text-align: center;
}

th {
	text-align: center !important;;
}
.yearlist-year {
	width: 25%;
}

button.add {
	border-radius: 50%;
	margin: 0 50%;
}